<mat-toolbar class="workflow-toolbar">
    <span>Workflow Editor for {{ layerName }}</span>
    @if (loading$ | async) {
        <mat-spinner class="loading" [diameter]="15"></mat-spinner>
    } @else {
        <div>
            <button
                mat-raised-button
                [color]="(isValid$ | async) === false ? 'disabled' : 'primary'"
                [disabled]="(isValid$ | async) === false"
                (click)="onSave()"
            >
                Save
            </button>
        </div>
    }
</mat-toolbar>
<div #widget class="canvas-container" [style.visibility]="(loading$ | async) ? 'collapse' : 'visible'"></div>
